[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "*"
pyinputplus = "*"
keyboard = "*"
gtts = "*"
pygame = "*"
pyglet = "*"
speechrecognition = "*"
pyaudio = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
